.header-wrap {
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header-logo {
    background: url(../../images/icons/logo.svg) center center/contain no-repeat;
    width: 70px;
    height: 70px;
    animation: spin 12s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header-nav-menu {
    display: flex;
}

.header-nav-menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-left: 50px;
}

.header-social-wrap {
    display: flex;
}

.header-social-instagram {
    background: url(../../images/icons/instagram.svg) center center/contain no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.header-social-facebook {
    background: url(../../images/icons/facebook.svg) center center/contain no-repeat;
    width: 25px;
    height: 25px;
}