.main-page-wrap {
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
}

.main-page-header {
    max-width: 511px;
    margin: 140px 0 0 0;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
}

.main-page-subheader {
    margin: 0;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    color: #FFF646;
    text-shadow: 0px 0px 10px #B97E16,0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.main-page-text {
    margin: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.main-page-button {
    cursor: pointer;
    display: inline-block;
    margin-top: 63px;
    padding: 23px 44px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    text-shadow: 0px 0px 3.5px #FFFFFF;
    transition: 0.4s ease-in-out;
}

.main-page-button:hover {
    color: #FFF646;
    transition: 0.4s ease-in-out;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-block-info {
    display: flex;
    align-items: center;
}

.main-block-info-people {
    margin-right: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.408px;
    color: #FFF646;
    text-shadow: 0px 0px 10px #B97E16,0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.main-block-info-specialists {
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.408px;
    color: #000000;
}

.main-block-info-flat-stick {
    margin-right: 10px;
    font-size: 20px;
}

.main-block-info-years {
    margin-right: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.408px;
    color: #FFF646;
    text-shadow: 0px 0px 10px #B97E16,0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.main-block-info-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.408px;
    color: #000000;
}

.main-page-img {
    padding-left: 200px;
    background: url(../../images/photo/ANTON.jpg) center center/contain no-repeat;
    width: 480px;
    height: 720px;
}

    /*Бегущая строка на главной странице */

.tickers {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.black-ticker {
    background: black;
    height: 80px;
    width: 1690px;
    overflow: hidden;
    margin: 0 auto;
}

.black-ticker .marquee span {
    display:inline-block;
    width:100%;
    padding-top: 15px;
    text-indent:0;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: white;
    animation: marquee-black 25s linear infinite
}

.yellow-ticker {
    background: yellow;
    height: 80px;
    width: 1690px;
    overflow: hidden;
    margin: 0 auto;
}

.marquee {
    text-align:center;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
}

.marquee span {
    display:inline-block;
    width:100%;
    padding-top: 15px;
    text-indent:0;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    margin-left: 166px;
    animation: marquee-yellow 25s linear infinite
}

@keyframes marquee-yellow {
    0%  {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-black {
    0%  {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

    /*Завершение кода для бегущей строки */


.why-we-wrap {
    padding-top: 200px;
}

.why-we-header{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    margin: 0;
}

.why-we-underline {
    margin: 0 auto;
    border: 5px solid #000000;
    border-radius: 20px;
    width: 100px;
    height: 0px;
}

.why-we-card-block {
    display: flex;
    justify-content: space-around;
    margin-top: 135px;
}

.why-we-card-wrap {
    width: 200px;
    height: 200px;
    background: #000;
    border-radius: 40px;
    padding: 65px 16px;
    position: relative;
    transition: 0.4s ease-in-out;
    user-select: none;
}

.why-we-card-wrap:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.why-we-icon-wrap {
    height: 60px;
    position: absolute;
    background: black;
    padding: 16px 26px;
    top: -35px;
    right: 65px;
    border-radius: 50%;
}

.why-we-card-icon-diplom {
    background: url(../../images/icons/diplom.svg) center center/contain no-repeat;
    width: 17px;
    height: 17px;
}

.why-we-card-icon-cut {
    background: url(../../images/icons/cut.svg) center center/contain no-repeat;
    width: 17px;
    height: 17px;
}

.why-we-card-icon-student {
    background: url(../../images/icons/student.svg) center center/contain no-repeat;
    width: 17px;
    height: 17px;
}

.why-we-card-text {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.education-wrap {
    padding-top: 200px;
}

.education-header {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.education-underline {
    margin: 0 auto;
    border: 5px solid #000000;
    border-radius: 20px;
    width: 100px;
    height: 0px;
}

.education-card-block {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.education-card-wrap {
    max-width: 340px; 
}

.education-card-icon-wrap {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.education-card-icon-medal {
    margin: 0 auto;
    background: url(../../images/icons/medal.svg) center center/contain no-repeat;
    width: 22px;
    height: 22px;
}

.education-card-icon-airplane {
    margin: 0 auto;
    background: url(../../images/icons/airplane.svg) center center/contain no-repeat;
    width: 22px;
    height: 22px;
}

.education-card-text {
    text-align: center;
    padding-top: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.card-width {
    width: 325px;
}

.our-courses {
    padding-top: 200px;
}

.our-courses-header {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.our-courses-underline {
    margin: 0 auto;
    border: 5px solid #000000;
    border-radius: 20px;
    width: 100px;
    height: 0px;
    margin-bottom: 100px;
}

.all-cards-wrap {
    margin: 0 auto;
}

.barber-card-wrap, .massage-card-wrap, .hairdresser-card-wrap, .visagiste-card-wrap {
    margin: 50px auto;
    width: 720px;
    height: 300px;
    display: flex;
}

.barber-card-block, .massage-card-block, .hairdresser-card-block, .visagiste-card-block{
    padding-left: 50px;
}

.barber-card-wrap {
    background: #4996F4;
    border-radius: 40px;
}


.massage-card-wrap {
    background: #A9F7F7;
    border-radius: 40px;
}

.hairdresser-card-wrap {
    background: #FFCF48;
    border-radius: 40px;
}

.visagiste-card-wrap {
    background: #FFD1DC;
    border-radius: 40px;
}

.all-cards-header {
    margin: 0;
    padding-top: 53px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.all-cards-subheader {
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.all-cards-text {
    margin: 0;
    padding: 20px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.hairdresser-text {
    padding: 10px 0;
}

.all-cards-price{
    width: 215px;
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.barber-card-img {
    background: url(../../images/photo/barber.png) center center/contain no-repeat;
    width: 365px;
    height: 300px;
    margin-left: 89px;
}

.massage-card-img {
    background: url(../../images/photo/massage.png) center center/contain no-repeat;
    width: 365px;
    height: 300px;
    margin-left: 157px;
}

.hairdresser-card-img {
    background: url(../../images/photo/hairdresser.png) center center/contain no-repeat;
    width: 365px;
    height: 300px;
    margin-left: 85px;
}

.visagiste-card-img {
    background: url(../../images/photo/visagiste.png) center center/contain no-repeat;
    width: 365px;
    height: 300px;
    margin-left: 85px;
}