@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box ;
}

a {
    display: block;
    text-decoration: none;
}

span {
    display: block;
}

.container {
    width: 1440px;
    margin: 0 auto;
}
